test --host_javabase=@local_jdk//:jdk --test_env=PATH --test_env=ASDF_DIR --test_env=ASDF_DATA_DIR --test_output=errors
build --host_javabase=@local_jdk//:jdk --action_env=PATH --action_env=ASDF_DIR --action_env=ASDF_DATA_DIR
