vim/cache
emacs.d/ac-comphist.dat
emacs.d/el-get/
*.pyc
/emacs.d/.ido.last
/emacs.d/.org-id-locations
/emacs.d/.project-roots
/emacs.d/oauth2.plstore
/emacs.d/url
/emacs.d/session.*
/emacs.d/eshell/history
/emacs.d/eshell/lastdir
/emacs.d/saveplace
/emacs.d/tramp
/emacs.d/.mc-lists.el
/emacs.d/srecode-map.el
/.#gnus.bak
*.elc
/emacs.d/.emacs.desktop
/emacs.d/.emacs.desktop.lock
/emacs.d/elpa/
/emacs.d/helm-adaptive-history
/emacs.d/bookmarks
/emacs.d/recentf
/emacs.d/.cask
