*~
*.sync-conflict-*
vim/.vim/cache
emacs-old/emacs.d/ac-comphist.dat
emacs-old/emacs.d/el-get/
*.pyc
emacs-old/emacs.d/.ido.last
emacs-old/emacs.d/.org-id-locations
emacs-old/emacs.d/.project-roots
emacs-old/emacs.d/oauth2.plstore
emacs-old/emacs.d/url
emacs-old/emacs.d/session.*
emacs-old/emacs.d/eshell/history
emacs-old/emacs.d/eshell/lastdir
emacs-old/emacs.d/saveplace
emacs-old/emacs.d/tramp
emacs-old/emacs.d/.mc-lists.el
emacs-old/emacs.d/srecode-map.el
*.elc
emacs-old/emacs.d/.emacs.desktop
emacs-old/emacs.d/.emacs.desktop.lock
emacs-old/emacs.d/elpa/
emacs-old/emacs.d/helm-adaptive-history
emacs-old/emacs.d/bookmarks
emacs-old/emacs.d/recentf
emacs-old/emacs.d/.cask
emacs-old/emacs.d/request/curl-cookie-jar
emacs-old/emacs.d/abbrev_defs
emacs-old/emacs.d/projectile-bookmarks.eld
emacs-old/emacs.d/projectile.cache
znt/.config/znt/privhist.db
vim/.vim/.netrwhist
docker/.docker/machine/
/emacs/.spacemacs.d/.spacemacs.env
